<div
  class="h-screen top-0 relative bg-[url('assets/authentication_bg.jpg')]"
  style="background-size: cover"
>
  <div class="flex flex-col items-center justify-center">
    <div
      class="relative z-20 bg-black opacity-80 py-16 px-12 shadow rounded lg:w-1/4 md:w-1/2 w-full my-16"
    >
      <div class="z-50">
        <p
          tabindex="0"
          class="focus:outline-none text-4xl font-semibold leading-6 text-white mb-7"
        >
          Sign In
        </p>
        <div class="mb-6">
          <label
            for="large-input"
            id="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          ></label>
          <input
            aria-labelledby="email"
            type="email"
            id="large-input"
            class="block w-full p-4 text-gray-900 rounded bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Email or phone number"
          />
        </div>
        <div class="mb-6">
          <label
            for="large-input"
            id="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          ></label>
          <input
            aria-labelledby="email"
            type="password"
            id="large-input"
            class="block w-full p-4 text-gray-900 rounded bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Password"
          />
        </div>

        <div class="mt-8">
          <button
            role="button"
            class="text-sm focus:outline-none font-semibold text-white bg-red-600 rounded py-4 w-full"
          >
            Sign In
          </button>
          <p
            tabindex="0"
            class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500"
          >
            New to Flix & Chill ?
            <a
              href="javascript:void(0)"
              class="hover:text-white-500 focus:text-white-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none text-white cursor-pointer ml-2"
            >
              Sign up now</a
            >
          </p>
        </div>
      </div>
    </div>
    <div
      class="absolute top-0 left-0 h-full w-full bg-black opacity-50 z-10"
    ></div>
  </div>
</div>
