<nav class="bg-black">
  <div class="flex flex-wrap mx-auto p-4">
    <a routerLink="" class="flex">
      <img src="assets/logo.png" class="h-10 mx-8" alt="Flix&Chill Logo" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        <li>
          <a
            href="#"
            class="block py-2 opacity-90 text-white hover:font-bold hover:opacity-100"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 opacity-90 text-white hover:font-bold hover:opacity-100"
            >TV Shows</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 opacity-90 text-white hover:font-bold hover:opacity-100"
            >Movies</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 opacity-90 text-white hover:font-bold hover:opacity-100"
            >New & Popular</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 opacity-90 text-white hover:font-bold hover:opacity-100"
            >My List</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 opacity-90 text-white hover:font-bold hover:opacity-100"
            >Browse By Languages</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-home></app-home>

<router-outlet></router-outlet>
