<div *ngFor="let categoryData of categoriesData" class="py-8">
  <h2 class="font-bold text-white text-2xl p-8 uppercase">
    {{ categoryData.category }}
  </h2>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let movie of categoryData.movies">
      <ng-template carouselSlide [id]="movie.id">
        <a [routerLink]="['/movie', movie.id]">
          <img
            [src]="getMoviePosterUrl(movie.poster_path)"
            alt="{{ movie.title }}"
          />
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
